@charset "UTF-8";

*{padding:0;margin:0;}

	li{
		list-style:none;
		cursor:pointer;
	}
	.selection-container{
		height:350px;
		margin:10px;
	}
	.select-box{
		width:250px;
		height:100%;
		border:1px solid #ccc;
		float:left;
	}
	.arrows-box{
		width:50px;
		height:100%;
		float:left;
		position:relative;
	}
	.select-content{
		width:100%;
		height:320px;
		overflow-y:auto;
		overflow-x:hidden;
	}
	.select-box-title{
		width:90%;
		height:30px;
		line-height:30px;
		font-size:12px;
		font-family:"微软雅黑";
		padding:0 5%;
		border-bottom:1px solid #ccc;
	}
	.select-box-title input{
		margin:8px 0;
	}
	.checkbox-all{
		float:right;
	}
	.checkboxs{
		vertical-align:middle;
	}
	.unselect-ul{
		padding:10px 0;
	}
	.select-content li{
		padding:5px 15px;
		font-size:12px;
		font-family:"微软雅黑";
	}
	.arrow-btns{
		width:100%;
		height:90px;
		position:absolute;
		top:50%;
		margin-top:-45px;
	}
	.arrow-btn{
		width:40px;
		height:12px;
		background:#eee;
		border:1px solid #ccc;
		margin:0 auto 5px;
		cursor:pointer;
		padding-bottom: 15px;
	}
	.arrow-btn i{
		display:inline-block;
		width:100%;
		height:100%;
		background:url("../images/arrow-left.png") no-repeat center center !important;
	}
	.arrow-btn.right i{
		background:url("../images/arrow-right.png") no-repeat center center !important;
	}