body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	color: #333;
}

* {
	padding: 0;
	margin: 0;
}

.main {
	margin: 30px;
}

button {
	margin-top: 5px;
	display: inline-block;
	vertical-align: top;
	height: 30px!important;
	background-color: #E5E5E5;
	border: 1px solid #D4D4D4;
	text-align: center;
	width: auto;
	padding: 0px 10px 0 10px;
}

button:hover{
	background-color: white;
}

input[type=radio]{
	position:static!important;
	opacity: 1!important;
}

#heard_btn_second>input,
#heard_div_four>input,
select {
	margin-top: 5px;
	height: 34px;
}

[type=checkbox] {
	position:static!important;
	opacity: 1!important;
	width: 18px;
	height: 18px;
}


.number_people {
	text-align: center;
	background: #009999;
	border-radius: 25px;
	-moz-border-radius: 25px;
	color: white;
}

.yyzhuangtai {
	width: 60px;
	background: #C1E6E2;
	border-radius: 25px;
	-moz-border-radius: 25px;
	color: #41b2a6;
	font-size: 13px;
	text-align: center;
	position: absolute;
	right: 16px;
	top: 16px;
}

#content table {
	margin: 30px 0 30px 0;
}

table.table_first>thead>tr>td,
table.table_first>tbody>tr>td {
	border: 1px solid #ddd;
	width: 1.1%;
	text-align: center;
	word-break: break-word;
	word-wrap: break-word;
	padding: 10px;
}

table.table_first>thead>tr>td {
	font-weight: 600;
}

table.table_first>thead>tr:first-child>td {
	color: blue;
	font-weight: 900;
}

table.table_first>tbody>tr:hover {
	background-color: #EBEBEB;
}

.modal-body td,
.modal-header td{
	width: 1.5%!important;
	word-break: break-word;
	word-wrap: break-word;
	text-align: center;
	height: 35px;
}

.modal-header>div{
	padding-top: 15px!important;
}

.modal-header {
    padding-bottom: 0px!important;
}
.vip {
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 18px;
	color: #fff;
	font-weight: 300;
	border-bottom: 18px solid #ff6103;
	border-left: 0px solid transparent;
	border-right: 5px solid transparent;
}



.error{
	color: red;
}


.active-result{
	text-align: left;
}

.modal{
	position: absolute!important;
	top: 0!important;
	width: auto!important;
	background-color: transparent!important;
	margin-left: 0!important;
}
@media only screen and (max-width:767px) {
	#heard_div_first,
	#heard_div_third {
		width: 100%;
	}
	#heard_div_second,
	#heard_div_four {
		width: 100%;
		margin-top: 10px;
		text-align: left;
	}
	#heard_div_four select,
	#heard_div_second input,
	#heard_div_four input {
		width: 100%;
		margin-top: 10px;
	}
	.keshi_menu {
		width: 80%;
		height: 80%;
		top: 10%;
		left: 10%;
	}
	.xuanze {
		100%
	}
	.layui-laydate-range {
		width: 300px!important;
		top: 0px!important;
	}
}

@media only screen and (min-width:767px) {
	#heard_div_first,
	#heard_div_third {
		width: 30%;
	}
	#heard_div_second,
	#heard_div_four {
		width: 70%;
		margin-right: -4px;
	}
	.number_people {
		margin: 0 30% 0 30%;
	}
}